################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Data/Data.SQLServer/.vs/Data.SQLServer/v16/Server/sqlite3
